<app-topnav></app-topnav>
<div class="blog-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <!--class="col-md-6 col-lg-4 col-xl-4 col-12"-->
            <div *ngFor="let data of malllist" class="col-md-3 col-lg-3 col-xl-3 col-6">
                <div class="single-blog mb-50">
                    <div class="blog-img">
                        <a href="mall/{{data.id}}"><img src="{{image}}{{data.image_name}}" alt=""></a>
                    </div>
                    <div class="blog-info">
                        <h3><a href="mall/{{data.id}}">{{data.mall_name}}</a></h3>
                    </div>
                </div>
            </div>
            
        </div>
       
    </div>
</div>