<app-topnav></app-topnav>
<style>
     svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}
img.malllogo{
  width: 15%;height: auto;
}
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #4D163D;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #BD0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #BD0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #FDB731;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}


.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #d1d0d4 0%,
    #e1e1e4 29%,
    #ffffff 67%,
    #f4f4f8 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
  
  /* -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

</style>

<div class="shop-limited-area bg-img pt-90 pb-100"  data-overlay="3">
    <div class="container">
        <div class="shop-limited-content text-center">
            <div class="col-md-12 text-center">
                <h3 class="animate-charcter"> {{mallInfo.mall_name}}</h3>
              </div>
        </div>
    </div>
</div>


   
    <div class="section-title text-center mt-20 mb-55">
        <h2> {{floorDetails[0].floor_name}}</h2>
       
    </div>



    <div class="row ml-10 mr-10">

        <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let floorShop of floorshoplist let idx=index ">
            <div class="single-product mb-35">
                <div class="product-img">
                    <a href="mall/{{floorShop.mall_id}}/floor/{{floorShop.floor_id}}/shop/{{floorShop.shop_name}}"><img src="{{image}}{{floorShop.banner}}" alt=""></a>
                    <span>{{floorShop.shop_name}}</span>
                  
                    
                </div>
               
            </div>
        </div>
       
     

        
    </div>

 
    <footer class="footer-area gray-bg pt-100 pb-95">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5 col-12">
                    <div class="footer-widget">
                        <div class="footer-widget-l-content">
                            <h4>{{mallInfo.mall_name}}</h4>
                            
                        </div>
                        <div>
                            <ul>
                                <li><span>Country :</span> {{mallInfo.country}}</li>
                                <li><span>State : </span> {{mallInfo.state}}</li>
                                <li><span>Address :</span> {{mallInfo.address}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7 col-12">
                    <div class="footer-widget">
                        <div class="footer-widget-m-content text-center">
                            <div class="footer-logo">
                                <a href="#"><img src="{{mallLogo}}" class="malllogo" alt=""></a>
                            </div>
                            <!-- <div class="footer-nav">
                                <nav>
                                    <ul>
                                        <li><a href="index.html">home</a></li>
                                        <li><a href="about-us.html">about us</a></li>
                                        <li><a href="shop-grid-view-sidebar.html">shop </a></li>
                                        <li><a href="blog-left-sidebar.html"> blog </a></li>
                                        <li><a href="#">pages </a></li>
                                    </ul>
                                </nav>
                            </div> -->
                            <p>Copyright <i class="fa fa-copyright"></i> 2023  3ABC7. All rights reserved. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-12">
                    <div class="footer-widget f-right">
                        <div class="footer-widget-r-content">
                            <!-- <ul>
                                <li><span>Country :</span> {{mallInfo.country}}</li>
                                <li><span>State : </span> {{mallInfo.state}}</li>
                                <li><span>Address :</span> {{mallInfo.address}}</li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

