<app-topnav></app-topnav>
<div class="blog-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div *ngFor="let data of malllist" class="col-md-6 col-lg-4 col-xl-4 col-12">
                <div class="single-blog mb-50">
                    <div class="blog-img">
                        <a href="#"><img src="{{image}}{{data.image_name}}" alt=""></a>
                    </div>
                    <div class="blog-info">
                        <h3><a href="#">{{data.mall_name}}</a></h3>
                        <div class="blog-meta">
                            <ul>                                
                                <li *ngFor="let data1 of shop[data.id]"><a href="shop/{{data1.shop_name}}">{{data1.shop_name}}</a></li>
                            </ul>
                        </div>
                        <!-- <p>Lorem ipsum dolor sit amet, sectetur adipising elit, sed do eimod tempor incididunt ut labore.</p> -->
                    </div>
                </div>
            </div>
            
        </div>
       
    </div>
</div>