.c-hero-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  @media (max-width: 960px)
  {
    flex-flow: column nowrap;
    &__item {
      width: 100%;
    }
  }
  
  &__item {
    flex-grow: 1;
    background: #ccc;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    box-shadow: inset 0 0 0 100vmax rgba(0,0,0,.5);
    transition: .2s all;
    cursor: pointer;
    @media (min-width: 961px)
    {
      height: 100%;
    }
    
    &:hover {
      flex-grow: 2;
      box-shadow: inset 0 0 0 100vmax rgba(111, 3, 3, 0.7);
    }
    
    // &:nth-child(1) {
    //   background: #222 url(https://images.unsplash.com/photo-1417577097439-425fb7dec05e?dpr=1&auto=format&crop=entropy&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
    // }
    
    // &:nth-child(2) {
    //   background: #222 url(https://images.unsplash.com/photo-1424460421773-58b49adfc68a?dpr=1&auto=format&crop=entropy&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
    // }
    
    // &:nth-child(3) {
    //   background: #222 url(https://images.unsplash.com/photo-1442876906995-6761040d1f0b?dpr=1&auto=format&crop=entropy&fit=crop&w=1000&h=1000&q=80&cs=tinysrgb) no-repeat center center;
    // }
  }
  
  &__title {
    text-transform: uppercase;
    letter-spacing: .075em;
    color: #fff;
    transition: .2s all;
  }



  .loader {
    margin: auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #FF7A59;
   
    animation: spinner 4s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .c-hero-flex__title{
    font-size: 25px;
  }

 
 


  
  
}
img.malllogo{
  width: 15%;height: auto;
}


   
.test_box {
	padding: 0;
    float: left;
}
.test_box .inner {
	background: #333;
	display: block;
	margin: 10px;
	overflow: hidden;
}
.test_box .inner .test_click {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgb(0 0 0 / 21%);
	color: #fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	mix-blend-mode: normal;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.test_box .inner .test_click:hover {
	background-color: rgba(0,100,255,.5); 
	mix-blend-mode: hard-light;
}
.flex_this {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	display: inherit;
	flex-wrap: inherit;
	height: auto;
	margin: 0;
	padding: 10px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	width: 100%;

}
.test_box .inner .test_click:hover .flex_this {
	margin-top: -5px;
}

.test_title {
	display: block;
	font-weight: 700;
	margin: 0 0 20px;
	width: 100%;
    color: #ffffff;
    font-size: 36px;
}
.test_link {
	border: 2px solid #fff;
	display: inline-block;
	font-size: .8em;
	font-weight: 700;
	letter-spacing: .1em;
	margin: 0 auto;
	padding: 10px 30px;
	text-transform: uppercase;
}

.box-01 .inner {
	
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
    border-radius: 30px 2px;
}


