<style>
  img.malllogo{
  width: 15%;height: auto;
}
.prod_description{
  white-space: nowrap; 
  width: 110px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.view-like-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-like-section .limited-btn{
    text-align: center;
    background: #000000;
    border-radius: 3px;
    box-shadow: 0 10px 20px -8px rgb(73 70 71);
    display: block;
    font-size: 13px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.limited-btn .icon{
  margin-right: 5px;
  font-size: 13px;
}

.badge {
  position: absolute;
    top: 10px;
    right: 7px;
    /* padding: 7px 10px; */
    /* border-radius: 50% 1px; */
    padding: 8px 10px 8px 10px;
    background: red;
    color: white;
    /* font-size: 12px; */
}

</style>
<app-topnav></app-topnav>
<!-- sidebar-cart start -->
<!-- <div class="sidebar-cart onepage-sidebar-area">
  <div class="wrap-sidebar">
    <div class="sidebar-cart-all">
      <div class="sidebar-cart-icon">
        <button class="op-sidebar-close">
          <span class="ion-android-close"></span>
        </button>
      </div>
      <div class="cart-content">
        <h3>Shopping Cart</h3>
        <ul>
          <li class="single-product-cart">
            <div class="cart-img">
              <a href="#"><img src="assets/img/cart/1.jpg" alt="" /></a>
            </div>
            <div class="cart-title">
              <h3><a href="#"> HANDCRAFTED MUG</a></h3>
              <span>1 x $140.00</span>
            </div>
            <div class="cart-delete">
              <a href="#"><i class="ion-ios-trash-outline"></i></a>
            </div>
          </li>
          <li class="single-product-cart">
            <div class="cart-img">
              <a href="#"><img src="assets/img/cart/2.jpg" alt="" /></a>
            </div>
            <div class="cart-title">
              <h3><a href="#"> HANDCRAFTED MUG</a></h3>
              <span>1 x $140.00</span>
            </div>
            <div class="cart-delete">
              <a href="#"><i class="ion-ios-trash-outline"></i></a>
            </div>
          </li>
          <li class="single-product-cart">
            <div class="cart-img">
              <a href="#"><img src="assets/img/cart/3.jpg" alt="" /></a>
            </div>
            <div class="cart-title">
              <h3><a href="#"> HANDCRAFTED MUG</a></h3>
              <span>1 x $140.00</span>
            </div>
            <div class="cart-delete">
              <a href="#"><i class="ion-ios-trash-outline"></i></a>
            </div>
          </li>
          <li class="single-product-cart">
            <div class="cart-total">
              <h4>Total : <span>$ 120</span></h4>
            </div>
          </li>
          <li class="single-product-cart">
            <div class="cart-checkout-btn">
              <a class="btn-hover cart-btn-style" href="#">view cart</a>
              <a class="no-mrg btn-hover cart-btn-style" href="#">checkout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
<!-- main-search start -->
<!-- <div class="main-search-active">
  <div class="sidebar-search-icon">
    <button class="search-close">
      <span class="ion-android-close"></span>
    </button>
  </div>
  <div class="sidebar-search-input">
    <form>
      <div class="form-search">
        <input
          id="search"
          class="input-text"
          value=""
          placeholder="Search Entire Store"
          type="search"
        />
        <button>
          <i class="ion-ios-search-strong"></i>
        </button>
      </div>
    </form>
  </div>
</div> -->
<!-- main-search start -->
<!-- <div class="cur-lang-acc-active">
      <div class="wrap-sidebar">
          <div class="sidebar-nav-icon">
              <button class="op-sidebar-close"><span class="ion-android-close"></span></button>
          </div>
          <div class="cur-lang-acc-all">
              <div class="single-currency-language-account">
                  <div class="cur-lang-acc-title">
                      <h4>Currency: <span>USD </span></h4>
                  </div>
                  <div class="cur-lang-acc-dropdown">
                      <ul>
                          <li><a href="#">EUR  Euro</a></li>
                      </ul>
                  </div>
              </div>
              <div class="single-currency-language-account">
                  <div class="cur-lang-acc-title">
                      <h4>Language: <span><img src="assets/img/icon-img/english.png" alt=""> English </span></h4>
                  </div>
                  <div class="cur-lang-acc-dropdown">
                      <ul>
                          <li><a href="#"><img src="assets/img/icon-img/english.png" alt=""> English </a></li>
                          <li><a href="#"><img src="assets/img/icon-img/es.png" alt=""> spanish </a></li>
                          <li><a href="#"><img src="assets/img/icon-img/fr.png" alt=""> french </a></li>
                          <li><a href="#"><img src="assets/img/icon-img/ge.png" alt=""> german </a></li>
                          <li><a href="#"><img src="assets/img/icon-img/es.png" alt=""> spanish </a></li>
                      </ul>
                  </div>
              </div>
              <div class="single-currency-language-account">
                  <div class="cur-lang-acc-title">
                      <h4>My Account:</h4>
                  </div>
                  <div class="cur-lang-acc-dropdown">
                      <ul>
                          <li><a href="#">Compare Products </a></li>
                          <li><a href="#">Default welcome msg!</a></li>
                          <li><a href="register.html">register</a></li>
                          <li><a href="wishlist.html">My Wish List</a></li>
                          <li><a href="login.html">Sign In </a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
<div class="banner-img breadcrumb-area pt-205 pb-210 bg-img ">
  <!-- [ngStyle]="{'background-image': 'url('+banner')}"   [style.backgroundImage]="{{banner}}"-->
  <!-- style="background-image: url(assets/img/bg/breadcrumb.jpg)" -->
  <!-- <img src="{{image}}{{shop.banner}}" width="100%" height="500px" alt="" /> -->
  <div class="container">
    <div class="breadcrumb-content">
      <h2>{{ model?.shopname}}</h2>
      <ul>
        <li><a href="javascript:void()">home</a></li>
        <li>{{ model.shopname }}</li>
      </ul>
    </div>
   
  </div>
 

</div>
<div class="container-fluid view-like-section">
  <a *ngIf="shopactionModel.totalfollowers>0" class="btn-hover limited-btn" href="javascript:void()" (click)="actionOnShop('follow',shop.id,'follow_count')"><i class="icon ion-thumbsup" aria-hidden="true"></i> Like  <span class="badge">{{shopactionModel.totalfollowers}}</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a *ngIf="shopactionModel.totalfollowers==0" class="btn-hover limited-btn" href="javascript:void()" (click)="actionOnShop('follow',shop.id,'follow_count')"><i class="icon ion-thumbsup" aria-hidden="true"></i> Like </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <a *ngIf="shopactionModel.totalviewers>0" class="btn-hover limited-btn" href="javascript:void()"> <i class="icon ion-ios-eye" aria-hidden="true"></i> View <span class="badge">{{shopactionModel.totalviewers}}</span></a>
  <a *ngIf="shopactionModel.totalviewers==0"class="btn-hover limited-btn" href="javascript:void()" > <i class="icon ion-ios-eye" aria-hidden="true"></i> View </a>
</div>
<div class="shop-page-wrapper hidden-items padding-filter">
  <div class="container-fluid">
    <!-- <div class="shop-filters-left">
              <div class="shop-sidebar">
                  <div class="sidebar-widget mb-50">
                      <h3 class="sidebar-title">Search Products</h3>
                      <div class="sidebar-search">
                          <form action="#">
                              <input placeholder="Search Products..." type="text">
                              <button><i class="ion-ios-search-strong"></i></button>
                          </form>
                      </div>
                  </div>
                  <div class="sidebar-widget mb-40">
                      <h3 class="sidebar-title">Filter by Price</h3>
                      <div class="price_filter">
                          <div id="slider-range"></div>
                          <div class="price_slider_amount">
                              <div class="label-input">
                                  <label>price : </label>
                                  <input type="text" id="amount" name="price"  placeholder="Add Your Price" />
                              </div>
                              <button type="button">Filter</button> 
                          </div>
                      </div>
                  </div>
                  <div class="sidebar-widget mb-45">
                      <h3 class="sidebar-title">Categories</h3>
                      <div class="sidebar-categories">
                          <ul>
                              <li><a href="#">Accessories <span>4</span></a></li>
                              <li><a href="#">Book <span>9</span></a></li>
                              <li><a href="#">Clothing <span>5</span> </a></li>
                              <li><a href="#">Homelife <span>3</span></a></li>
                              <li><a href="#">Kids & Baby <span>4</span></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="sidebar-widget sidebar-overflow mb-45">
                      <h3 class="sidebar-title">color</h3>
                      <div class="product-color">
                          <ul>
                              <li class="red">b</li>
                              <li class="pink">p</li>
                              <li class="blue">b</li>
                              <li class="sky">b</li>
                              <li class="green">y</li>
                              <li class="purple">g</li>
                          </ul>
                      </div>
                  </div>
                  <div class="sidebar-widget mb-40">
                      <h3 class="sidebar-title">size</h3>
                      <div class="product-size">
                          <ul>
                              <li><a href="#">xl</a></li>
                              <li><a href="#">m</a></li>
                              <li><a href="#">l</a></li>
                              <li><a href="#">ml</a></li>
                              <li><a href="#">lm</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="sidebar-widget mb-50">
                      <h3 class="sidebar-title">Top rated products</h3>
                      <div class="sidebar-top-rated-all">
                          <div class="sidebar-top-rated mb-30">
                              <div class="single-top-rated">
                                  <div class="top-rated-img">
                                      <a href="#"><img src="assets/img/product/sidebar-product/1.jpg" alt=""></a>
                                  </div>
                                  <div class="top-rated-text">
                                      <h4><a href="#">Flying Drone</a></h4>
                                      <div class="top-rated-rating">
                                          <ul>
                                              <li><i class="reting-color ion-android-star"></i></li>
                                              <li><i class="reting-color ion-android-star"></i></li>
                                              <li><i class="ion-android-star-outline"></i></li>
                                              <li><i class="ion-android-star-outline"></i></li>
                                              <li><i class="ion-android-star-outline"></i></li>
                                          </ul>
                                      </div>
                                      <span>$140.00</span>
                                  </div>
                              </div>
                          </div>
                          <div class="sidebar-top-rated mb-30">
                              <div class="single-top-rated">
                                  <div class="top-rated-img">
                                      <a href="#"><img src="assets/img/product/sidebar-product/2.jpg" alt=""></a>
                                  </div>
                                  <div class="top-rated-text">
                                      <h4><a href="#">Flying Drone</a></h4>
                                      <div class="top-rated-rating">
                                          <ul>
                                              <li><i class="reting-color ion-android-star"></i></li>
                                              <li><i class="reting-color ion-android-star"></i></li>
                                              <li><i class="ion-android-star-outline"></i></li>
                                              <li><i class="ion-android-star-outline"></i></li>
                                              <li><i class="ion-android-star-outline"></i></li>
                                          </ul>
                                      </div>
                                      <span>$140.00</span>
                                  </div>
                              </div>
                          </div>
                          <div class="sidebar-top-rated mb-30">
                              <div class="single-top-rated">
                                  <div class="top-rated-img">
                                      <a href="#"><img src="assets/img/product/sidebar-product/3.jpg" alt=""></a>
                                  </div>
                                  <div class="top-rated-text">
                                      <h4><a href="#">Flying Drone</a></h4>
                                      <div class="top-rated-rating">
                                          <ul>
                                              <li><i class="reting-color ion-android-star"></i></li>
                                              <li><i class="reting-color ion-android-star"></i></li>
                                              <li><i class="ion-android-star-outline"></i></li>
                                              <li><i class="ion-android-star-outline"></i></li>
                                              <li><i class="ion-android-star-outline"></i></li>
                                          </ul>
                                      </div>
                                      <span>$140.00</span>
                                  </div>
                              </div>
                          </div>
                          <div class="sidebar-top-rated mb-30">
                              <div class="single-top-rated">
                                  <div class="top-rated-img">
                                      <a href="#"><img src="assets/img/product/sidebar-product/4.jpg" alt=""></a>
                                  </div>
                                  <div class="top-rated-text">
                                      <h4><a href="#">Flying Drone</a></h4>
                                      <div class="top-rated-rating">
                                          <ul>
                                              <li><i class="reting-color ion-android-star"></i></li>
                                              <li><i class="reting-color ion-android-star"></i></li>
                                              <li><i class="ion-android-star-outline"></i></li>
                                              <li><i class="ion-android-star-outline"></i></li>
                                              <li><i class="ion-android-star-outline"></i></li>
                                          </ul>
                                      </div>
                                      <span>$140.00</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div> -->
    <div class="shop-filters-right">
      <!-- <div class="shop-bar-area pb-60">
                  <div class="shop-bar">
                      <div class="shop-found-selector">
                          <div class="shop-found">
                              <p><span>23</span> Product Found of <span>50</span></p>
                          </div>
                          <div class="shop-selector">
                              <label>Sort By : </label>
                              <select name="select">
                                  <option value="">Default</option>
                                  <option value="">A to Z</option>
                                  <option value=""> Z to A</option>
                                  <option value="">In stock</option>
                              </select>
                          </div>
                      </div>
                      <div class="shop-filter-tab">
                          <div class="shop-filter">
                              <a class="shop-filter-active" href="#">Filters <i class="ion-android-options"></i></a>
                          </div>
                          <div class="shop-tab nav" role=tablist>
                             <a class="active" href="#grid-5-col1" data-toggle="tab" role="tab" aria-selected="false">
                                  <i class="ion-android-apps"></i>
                              </a>
                              <a href="#grid-5-col2" data-toggle="tab" role="tab" aria-selected="true">
                                  <i class="ion-android-menu"></i>
                              </a>
                          </div>
                      </div>
                  </div>
              </div> -->
      <div  class="shop-product-content tab-content" *ngFor="let item of productdata">

        <div class="section-title text-center mt-20 mb-55" *ngIf="item.productlist.length>0">
          <h2> {{item.catName}}</h2>
        </div>

        <div id="grid-5-col1" class="tab-pane fade active show">
          <div class="row custom-row">
            <div
              class="custom-col-5 custom-col-style mobile"
              *ngFor="let data of item.productlist"
            >
              <div
                class="single-product mb-35"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="viewProduct(data)"
              >
                <div class="product-img">
                  <a data-toggle="modal" data-target="#exampleModal"
                    ><img src="{{ image }}{{ data.image_name }}" alt=""
                  /></a>
                  <div class="product-action">
                    <!-- <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a> -->
                    <a
                      title="Quick View"
                      data-toggle="modal"
                      data-target="#exampleModal"
                      class="animate-right"
                      href="#"
                      ><i class="ion-ios-eye-outline"></i
                    ></a>
                  </div>
                </div>
                <div class="product-content">
                  <div class="product-title-price">
                    <div class="product-title">
                      <h4>
                        <a href="product-details-6.html">{{
                          data.product_name
                        }}</a>
                      </h4>
                    </div>
                    <div class="product-price">
                      <span>{{ data.currency_symbol }}  {{ data.product_price }}</span>
                    </div>
                  </div>
                  <div class="product-cart-categori">
                    <div class="product-cart">
                      <!-- <span>Furniter</span> -->
                    </div>
                    <!-- <div class="product-categori">
                                              <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                          </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<footer class="footer-area gray-bg pt-100 pb-95">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-5 col-12">
                  <div class="footer-widget">
                      <div class="footer-widget-l-content">
                          <h4>{{shop.shop_name}}</h4>
                          
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-7 col-12">
                  <div class="footer-widget">
                      <div class="footer-widget-m-content text-center">
                          <div class="footer-logo">
                              <!-- <a href="#"><img src="assets/img/logo/logo.png" alt=""></a> -->
                              <a href="#"><img src="{{mallLogo}}" class="malllogo" alt=""></a>
                          </div>
                          <!-- <div class="footer-nav">
                              <nav>
                                  <ul>
                                      <li><a href="index.html">home</a></li>
                                      <li><a href="about-us.html">about us</a></li>
                                      <li><a href="shop-grid-view-sidebar.html">shop </a></li>
                                      <li><a href="blog-left-sidebar.html"> blog </a></li>
                                      <li><a href="#">pages </a></li>
                                  </ul>
                              </nav>
                          </div> -->
                          <p>Copyright <i class="fa fa-copyright"></i> 2023  3ABC7. All rights reserved. </p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-12 col-12">
                  <div class="footer-widget f-right">
                      <div class="footer-widget-r-content">
                        <ul>
                          <li><span>Country :</span> {{shop.country}}</li>
                          <li><span>State : </span> {{shop.state}}</li>
                          <li><span>Address :</span> {{shop.address}}</li>
                     
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
<!-- modal -->
<div  class="modal fade"  id="exampleModal" tabindex="-1"  role="dialog"  aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span class="ion-android-close" aria-hidden="true"></span>
  </button>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="qwick-view-left">
          <div class="quick-view-learg-img">
            <div class="quick-view-tab-content tab-content">
              <div
                class="tab-pane active show fade"
                id="modal1"
                role="tabpanel"
              >
                <img src="{{ image }}{{ viewData.image_name }}" alt="" />
              </div>
              <!-- <div class="tab-pane fade" id="modal2" role="tabpanel">
                <img src="assets/img/quick-view/l2.jpg" alt="" />
              </div>
              <div class="tab-pane fade" id="modal3" role="tabpanel">
                <img src="assets/img/quick-view/l3.jpg" alt="" />
              </div> -->
            </div>
          </div>
          <!-- <div class="quick-view-list nav" role="tablist">
            <a
              class="active"
              href="#modal1"
              data-toggle="tab"
              role="tab"
              aria-selected="true"
            >
              <img src="assets/img/quick-view/s1.jpg" alt="" />
            </a>
            <a
              href="#modal2"
              data-toggle="tab"
              role="tab"
              aria-selected="false"
            >
              <img src="assets/img/quick-view/s2.jpg" alt="" />
            </a>
            <a
              href="#modal3"
              data-toggle="tab"
              role="tab"
              aria-selected="false"
            >
              <img src="assets/img/quick-view/s3.jpg" alt="" />
            </a>
          </div> -->
        </div>
        <div class="qwick-view-right">
          <div class="qwick-view-content">
            <h3>{{ viewData.product_name }}</h3>
            <div class="price">
              <span class="new">{{ viewData.currency_symbol }}  {{ viewData.product_price }}</span>
              <!-- <span class="old">$120.00  </span> -->
            </div>
            <!-- <div class="rating-number">
                              <div class="quick-view-rating">
                                  <i class="ion-ios-star red-star"></i>
                                  <i class="ion-ios-star red-star"></i>
                                  <i class="ion-android-star-outline"></i>
                                  <i class="ion-android-star-outline"></i>
                                  <i class="ion-android-star-outline"></i>
                              </div>
                              <div class="quick-view-number">
                                  <span>2 Ratting (S)</span>
                              </div>
                          </div> -->
            <p class="prod_description">{{ viewData.description }}</p>
            <!-- <div class="quick-view-select">
                              <div class="select-option-part">
                                  <label>Size*</label>
                                  <select class="select">
                                      <option value="">- Please Select -</option>
                                      <option value="">xl</option>
                                      <option value="">ml</option>
                                      <option value="">m</option>
                                      <option value="">sl</option>
                                  </select>
                              </div>
                              <div class="select-option-part">
                                  <label>Color*</label>
                                  <select class="select">
                                      <option value="">- Please Select -</option>
                                      <option value="">orange</option>
                                      <option value="">pink</option>
                                      <option value="">yellow</option>
                                  </select>
                              </div>
                          </div> -->
            <div class="quickview-plus-minus">
              <div class="cart-plus-minus">
                <div class="dec qtybutton" (click)="subQty()" >-</div>
                <input
                  type="text"
                  name="qtybutton"
                  class="cart-plus-minus-box"
                  [(ngModel)]="model.selectedQty"
                />
                <div class="inc qtybutton" (click)="addQty()" >+</div>
              </div>
              <div class="quickview-btn-cart">
                <a class="btn-hover-black" (click)="placeOrder(viewData,selectedQty)"  >Place Order</a>
              </div>
              <!-- <div class="quickview-btn-wishlist">
                <a class="btn-hover" href="#"
                  ><i class="ion-ios-heart-outline"></i
                ></a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Place Order form-->
<div  class="modal fade"  id="OrderFormModal" tabindex="-1"  role="dialog"  aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span class="ion-android-close" aria-hidden="true"></span>
  </button>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        
        <div class="qwick-view-left">
          <h4>Place Order</h4>
          <div class="qwick-view-content">
            <h3>{{ viewData.product_name }}</h3>
            <div class="price">
              <span class="new">{{ viewData.currency_symbol }} {{ viewData.product_price }}</span>
            </div>

          </div>
        </div>
        
        <div class="qwick-view-right">
          <div class="qwick-view-content">
            
            <input type="text" [(ngModel)]="model.cus_name" name="cus_name" class="email" placeholder="Enter your name" required />
            <input type="email"[(ngModel)]="model.cus_email" name="cus_email" class="email" placeholder="Enter your email address"/>
            <input type="number" [(ngModel)]="model.cus_mobno" name="cus_mobno" class="email" placeholder="Enter your mobile number" required>
            <textarea [(ngModel)]="model.cus_address" placeholder="Enter your address"></textarea>
            
            <div class="quickview-plus-minus">
              <div class="quickview-btn-cart" style="margin-left: auto !important; margin-right: auto !important;">
                <a class="btn-hover-black" (click)="confirmOrder()">Confirm Order</a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>